<div class="main-header">
    <div class="d-flex">
        <div class="logo">
            <div class=""><img src="assets/main/logo.png" alt=""></div>
        </div>
       <div class="icons">
        <table>
            <tr>
                <td class="circle1 color1"><img class="circle" src="assets/main/wifi.png" alt=""></td>
                <td class="circle1 color2"><img class="circle" src="assets/main/twitter.png" alt=""></td>
                <td class="circle1 color3"><img class="circle" src="assets/main/youtube.png" alt=""></td>
                <td class="circle1 color4"><img class="circle" src="assets/main/google.png" alt=""></td>
                <td class="circle1 color5"><img class="circle" src="assets/main/link.png" alt=""></td>
                <td class="circle1 color6"><img class="circle" src="assets/main/facebook.png" alt=""></td>
            </tr>
        </table>
       </div>
    </div>
</div>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>